<!-- partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%= title %></title>
	<meta name="description" content=" ">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="favicon" href="images/favicon.ico">
	<link rel="stylesheet" href="/fonts/fontello/css/utasko.css" />
    <link rel="stylesheet" href="/javascripts/plugins/pickadate/themes/classic.css" />
    <link rel="stylesheet" href="/javascripts/plugins/pickadate/themes/classic.date.css" />
    <link rel="stylesheet" href="/javascripts/plugins/fancybox/jquery.fancybox.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/socket.io-1.4.5.js"></script>
    <script>
      var socket = io('http://localhost:3000');
      
    </script>
</head>
	<body>

<header>
    <nav class="navbar shadow">
        <ul class="navbar-menu-left">
            <li><a href="/home"><img src="images/logo_inverse.svg"></a></li>
        </ul>
        <ul class="navbar-menu-right">
            <li class="user-info"><img src="http://66.media.tumblr.com/148f55a40f6cee225ee3181680c69007/tumblr_oabj2oFaK91s4yg05o1_500.jpg"></li>
            <!--<li>
                <div class="search-container">
                     <div class="search-bar">
                        <input name="search-box" type="text" id="search-box" class="search-box" value="Search" onfocus="this.value=''">                   
                    </div>
                    <a href="javascript:void(0)" class="search-trigger"><i class="ut-search"></i></a>	
                </div>
            </li>-->
            <li class="menu-button"><a class="menu-trigger" href="javascript:void(0)"><i class="ut-more-vert"></i></a></li>
        </ul>
    </nav>
    <div class="slide-menu">
        <ul>
            <li><a href="/home?project=add_project"><i class="ut-plus"></i>Add Project</a></li>
            <li><a href="/home"><i class="ut-shuffle"></i>Switch Projects</a></li>
            <li><a href="#"><i class="ut-cog"></i>Manage Projects</a></li>
            <li><a href="#"><i class="ut-user-plus"></i>Add User</a></li>
            <li><a href="/profile"><i class="ut-home"></i>View Profile</a></li>
            <li><a href="/logout"><i class="ut-power"></i>Sign Out</a></li>
        </ul>
    </div>
</header>
    <div class="overlay"></div>