<!-- Conversations View -->
<div class="col-1-3 conversations">
	<div class="wrapper small">
		<div class="conversation-list">
			<div class="add-convo-bar">
				<i class="ut-plus"></i>
				<p>Add Conversation</p>
			</div>
			<div class="convo">
				<div class="conversation-info">
					<img src="images/user-icon.png">
					<p class="user-name">Tasky</p>
				</div>
				<div class="message-truncated">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula...</p>
				</div>
			</div>
			<div class="convo">
				<div class="conversation-info">
					<img src="images/user-icon.png">
					<p class="user-name">Tasky</p>
				</div>
				<div class="message-truncated">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula...</p>
				</div>
			</div>
			<div class="convo">
				<div class="conversation-info">
					<img src="images/user-icon.png">
					<p class="user-name">Tasky</p>
				</div>
				<div class="message-truncated">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula...</p>
				</div>
			</div>
			<div class="convo">
				<div class="conversation-info">
					<img src="images/user-icon.png">
					<p class="user-name">Tasky</p>
				</div>
				<div class="message-truncated">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula...</p>
				</div>
			</div>
			<div class="convo">
				<div class="conversation-info">
					<img src="images/user-icon.png">
					<p class="user-name">Tasky</p>
				</div>
				<div class="message-truncated">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula...</p>
				</div>
			</div>
			<div class="convo">
				<div class="conversation-info">
					<img src="images/user-icon.png">
					<p class="user-name">Tasky</p>
				</div>
				<div class="message-truncated">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula...</p>
				</div>
			</div>
			<div class="convo">
				<div class="conversation-info">
					<img src="images/user-icon.png">
					<p class="user-name">Tasky</p>
				</div>
				<div class="message-truncated">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula...</p>
				</div>
			</div>
			

		</div>
	</div>
</div>