<!-- Files View -->
<div class="col-2-3 tasks">
	<div class="wrapper">
		<!-- TO DO: File Link Styles -->
		<div class="file-block">
			<div class="file">
				<i class="ut-file-pdf"></i>
				<div class="file-info">
					<p class="file-name">PDF File</p>
					<p>Shared by user 1 @ 8:33am 9th April</p>
				</div>
				<i class="ut-download-cloud"></i>
			</div>
		</div>

		<div class="file-block">
			<div class="file">
				<i class="ut-file-word"></i>
				<div class="file-info">
					<p class="file-name">Word Doc</p>
					<p>Shared by user 1 @ 8:33am 9th April</p>
				</div>
				<i class="ut-download-cloud"></i>
			</div>
		</div>

		<div class="file-block">
			<div class="file">
				<i class="ut-file-excel"></i>
				<div class="file-info">
					<p class="file-name">Excel Doc</p>
					<p>Shared by user 1 @ 8:33am 9th April</p>
				</div>
				<i class="ut-download-cloud"></i>
			</div>
		</div>

		<div class="file-block">
			<div class="file">
				<i class="ut-file-powerpoint"></i>
				<div class="file-info">
					<p class="file-name">Powerpoint Doc</p>
					<p>Shared by user 1 @ 8:33am 9th April</p>
				</div>
				<i class="ut-download-cloud"></i>
			</div>
		</div>

		<div class="file-block">
			<div class="file">
				<i class="ut-file-image"></i>
				<div class="file-info">
					<p class="file-name">IMG File</p>
					<p>Shared by user 1 @ 8:33am 9th April</p>
				</div>
				<i class="ut-download-cloud"></i>
			</div>
		</div>

		<div class="file-block">
			<div class="file">
				<i class="ut-file-archive"></i>
				<div class="file-info">
					<p class="file-name">ZIP File</p>
					<p>Shared by user 1 @ 8:33am 9th April</p>
				</div>
				<i class="ut-download-cloud"></i>
			</div>
		</div>

		<div class="file-block">
			<div class="file">
				<i class="ut-file-audio"></i>
				<div class="file-info">
					<p class="file-name">MP3 File</p>
					<p>Shared by user 1 @ 8:33am 9th April</p>
				</div>
				<i class="ut-download-cloud"></i>
			</div>
		</div>

		<div class="file-block">
			<div class="file">
				<i class="ut-file-code"></i>
				<div class="file-info">
					<p class="file-name">HTML File</p>
					<p>Shared by user 1 @ 8:33am 9th April</p>
				</div>
				<i class="ut-download-cloud"></i>
			</div>
		</div>
		
	</div>
</div>