<!-- Messages View -->
<div class="col-1-3 conversation">
	<div class="wrapper small">
		<div class="message-stream">
			<div class="message-date">
				<h5>Tuesday 28th</h5>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message-date">
				<h5>Wednesday 29th</h5>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message-date">
				<h5>Today</h5>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

		</div>
		<div class="message-bar">
			<div class="new-message">
				<i class="ut-plus"></i>
				<input type="text" name="message" class="message-input"></input>
			</div>
		</div>
	</div>
</div>