<!-- Messages View -->
<div class="col-1-3 conversation">
	<div class="wrapper small">
		<div class="message-stream">
            
            <% for( i in message_data) { %>
                <div class="message-date">
                    <h5><%= message_data[i].longstring %></h5>
                </div>
                <% for (j in message_data[i].messagearray) {  %>
            
                <div class="message">
                    <div class="message-info">
                        <p class="user-name"><%= message_data[i].messagearray[j].msg_username %></p>
                        <p class="message-time"><%= message_data[i].messagearray[j].msg_day %></p>
                    </div>
                    <div class="message-body">
                        <p><%= message_data[i].messagearray[j].msg %></p>
                    </div>
                </div>
                <% } %>
            <% } %>

			

		</div>
        <div class="message-bar">
            <div class="new-message">
                <input type="text" name="message" class="message-input" />
                <a id="message-button" class="btn message-btn">Send</a>
            </div>
        </div>
        <script>
            function sendMessage(value) {
                socket.emit('chat message', value);
                $('.message-input').val('');
                // Set timeout to be reset when you hear from the server
                    // If timeout happens show error
            }
            
            $('#message-button').on('touch click', function(){
                sendMessage($('.message-input').val());
                
            });
            $(".message-input").keyup(function (e) {
                if (e.keyCode == 13) {
                    sendMessage($('.message-input').val());
                }
            });
            
            socket.on('newMessage', function(returnMessage){
                console.log('appending');
                console.log(returnMessage);
                $('.message-stream').append('<div class="message"><div class="message-info"><p class="user-name">'+returnMessage.username+'</p><p class="message-time">'+returnMessage.time+'</p></div><div class="message-body"><p>'+returnMessage.message+'</p></div></div>');
            });
             
        </script>
	</div>
</div>