<!-- Messages View -->
<div class="col-1-3 conversation">
	<div class="wrapper small">
		<div class="message-stream">
			<div class="message-date">
				<h5>Tuesday 28th</h5>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message-date">
				<h5>Wednesday 29th</h5>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message-date">
				<h5>Today</h5>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

			<div class="message">
				<div class="message-info">
					<p class="user-name">Tasky</p>
					<p class="message-time">4:30pm</p>
				</div>
				<div class="message-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et felis dignissim odio vehicula ultricies. Integer aliquet at mauris ac malesuada. Ut aliquet at felis quis ornare.</p>
				</div>
			</div>

		</div>
        <div class="message-bar">
            <div class="new-message">
                <input type="text" name="message" class="message-input" />
                <a id="message-button" class="btn message-btn">Send</a>
            </div>
        </div>
        <script>
            function sendMessage(value) {
                // Save current time and add to socket emit
                // Send user data?
                socket.emit('chat message', value);
                $('.message-input').val('');
                // Append to current chat tab
                // Set timeout to be reset when you hear from the server
                    // If timeout happens show error
            }
            
            $('#message-button').on('touch click', function(){
                sendMessage($('.message-input').val());
            });
            $(".message-input").keyup(function (e) {
                if (e.keyCode == 13) {
                    sendMessage($('.message-input').val());
                }
            });
        </script>
	</div>
</div>