<!--Tasks View -->
<div class="col-2-3 tasks">
	<!-- TO DO: Task Accordion -->
	<div class="wrapper">
		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
			</div>
			<div class="task-info">

			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>
	</div>
</div>