<!--Tasks View -->
<div class="col-2-3 tasks">
    <a href="/add_task">
        <div class="add-task-bar">
            <i class="ut-plus"></i>
            <p>Add Task</p>
        </div>
    </a>
	<div class="wrapper task-list">
		<div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div class="task">
			<div class="task-header">
				<p class="task-title">Setup Database</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i> User 1</li>
						  <li><i class="ut-user"></i> User 2</li>
						  <li><i class="ut-user"></i> User 3</li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies.</li>
							<li class="task-requirment complete"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies.</li>
							<li class="task-requirment"> Maecenas rhoncus dui id erat gravida, nec porta nunc ultricies. Morbi blandit commodo felis.</li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#" class="btn">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>



		
	</div>
</div>