<!--Tasks View -->
<div class="col-2-3 tasks">
	<!-- TO DO: Task Accordion -->
	<div class="wrapper">
		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="task-title">Relational Schema</p>
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-info">Curabitur egestas egestas pulvinar. Morbi blandit commodo felis. Duis vel imperdiet turpis. Nam tempor semper nibh sit amet ultricies. Duis elit justo, euismod vitae maximus ac, dignissim ut purus.</p>
					<div class="task-requirments">
						<p class="task-requirment"><i class="ut-circle-thin"></i></p>
						<p class="task-requirment complete"><i class="ut-ok-circled"></i></p>
						<p class="task-requirment"><i class="ut-circle-thin"></i></p>
					</div>
					<div class="task-users">
						<p><i class="ut-user"></i> User 1</p>
						<p><i class="ut-user"></i> User 2</p>
						<p><i class="ut-user"></i> User 3</p>
					</div>
				</div>
				<p></p>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-title">Task Name</p>
				<a href="javascript:void(0)"><i class="ut-plus"></i></a>
			</div>
		</div>
	</div>
</div>