<% include partials/header %>
	<div class="container">
		<div class="col col-1-1">
			<div class="wrapper no-scroll">
				<div class="add-project-form">
					<div class="add-project-form-inner">
						<h3>Add Project</h3>
						<form action="/add_project" method="post" id="add-project-form">
							<input type="text" name="project[title]" id="project-title" placeholder="Enter Project Title" />
                            <span class="error">Please enter a title for your project</span>
							<input class="pickadate" type="text" name="project[end_date]" id="project-end-date" placeholder="Project End Date" />
                            <span class="error">Please enter an end date for your project</span>
                            <input type="text" name="project[repository]" id="preoject-repo" placeholder="Enter Project Repository" />
                            <span class="error">Please enter a repository for you project</span>
                            <div class="custom-select">
                                <select name="project[users]">
                                    <option disabled="disabled" selected="selected">Add Project Users</option>
                                    <option>User 1</option>
                                    <option>User 2</option>
                                    <option>User 3</option>
                                </select>
                            </div>
                            <div class="project-colour">
                                <div class="custom-checkbox">
                                    <input type="radio" name="project[colour]" value="#B73D97">
                                </div>
                                <div class="custom-checkbox">
                                    <input type="radio" name="project[colour]" value="#A53695">
                                </div>
                                <div class="custom-checkbox">
                                    <input type="radio" name="project[colour]" value="#C34599">
                                </div>
                                <div class="custom-checkbox">
                                    <input type="radio" name="project[colour]" value="#DD54A1">
                                </div>
                                <div class="custom-checkbox">
                                    <input type="radio" name="project[colour]" value="#952B90">
                                </div>
                            </div>
                            <textarea name="project[description]" id="project-description" placeholder="Enter Project Description"></textarea>
                            <span class="error">Please enter a description for your project</span>
                            <input type="hidden" name="project[status]" value="active">
							<input type="submit" name="submit" class="submit-btn" value="Add Project" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include partials/footer %>