<% include partials/header %>

	<div class="container">
		<div class="wrapper no-scroll">
            <div class="page-not-found">
                <h1><i class="ut-emo-surprised"></i></h1>
                <h1></h1>
                <h1>Oops!</h1>
                <h2>Sorry, the page you are looking for does not exisit</h2>
                <p>Error Code: 404</p>
            </div>
        </div>
	</div>

<% include partials/footer %>