<!-- views/index.ejs -->
<% include partials/header %>
    <div class="content-main padded-bottom">
		<div class="top-bar">
			<div class="add-project">
				<a href="#add_project" class="fancybox">
				<h3>Add Project</h3>
				<i class="ut-plus"></i>
				</a>
			</div>
		</div>
		<div class="project-list">
            <% for(var i=0; i<project_data.length; i++) { %>
			<a class="project-link" href="/project?id=<%= project_data[i].project_id %>">
				<div class="col-1-2 project-block <%= project_data[i].project_colour %>" >
					<h3><%= project_data[i].project_title %></h3>
				</div>
			</a>
            <% } %>
		</div>
        
        <div id="add_project" class="fancybox-popup">
            <div class="popup-close">
                <a href="javascript:void(0)"><i class="ut-close"></i></a>
            </div>
            <div class="popup-header">
                <h3>Create New Project</h3>
            </div>
            <div class="popup-body">
                <div class="form popup-form">
                    <div class="form-inner">
                        <form action="/add_project" method="post" id="add-project-form">
							<input type="text" name="project[title]" id="project-title" placeholder="Enter Project Title" required/>
							<input class="pickadate" type="text" name="project[end_date]" id="project-end-date" placeholder="Project End Date" required/>
                            <input type="text" name="project[repository]" id="preoject-repo" placeholder="Enter Project Repository URL"/>
                            <div class="custom-select">
                                <select name="project[users]">
                                    <option disabled="disabled" selected="selected">Add Project Users</option>
                                    <option>User 1</option>
                                    <option>User 2</option>
                                    <option>User 3</option>
                                </select>
                            </div>
                            <div class="project-colour">
                                <label>Select a project colour</label>
                                <ul class="radio-list">
                                    <li>
                                        <input type="radio" name="project[colour]" value="green" checked="checked">
                                        <div class="check green"></div>
                                    </li>
                                    <li>
                                        <input type="radio" name="project[colour]" value="blue">
                                        <div class="check blue"></div>
                                    </li>
                                    <li>
                                        <input type="radio" name="project[colour]" value="pink">
                                        <div class="check pink"></div>
                                    </li>
                                    <li>
                                        <input type="radio" name="project[colour]" value="orange">
                                        <div class="check orange"></div>
                                    </li>
                                    <li>
                                        <input type="radio" name="project[colour]" value="purple">
                                        <div class="check purple"></div>
                                    </li>
                                    <li>
                                        <input type="radio" name="project[colour]" value="turquoise">
                                        <div class="check turquoise"></div>
                                    </li>
                                    <li>
                                        <input type="radio" name="project[colour]" value="red">
                                        <div class="check red"></div>
                                    </li>
                                    <li>
                                        <input type="radio" name="project[colour]" value="yellow">
                                        <div class="check yellow"></div>
                                    </li>
                                </ul>
                            </div>
                            <input type="hidden" name="project[status]" value="active">
							<input type="submit" name="submit" class="submit-btn" value="Add Project" />
						</form>
                    </div>
                </div>
            </div>
        </div>
        <%if (add_project == 'active') { %>
            <script> 
                window.onload = function(e){ 
                    $(".fancybox").click();
                }
            </script>
        <% } %>
	</div>
<% include partials/footer %>