<!-- views/index.ejs -->
<% include partials/header %>
    <div class="content-main padded-bottom">
		<div class="top-bar">
			<div class="add-project">
				<a href="/add_project">
				<h3>Add Project</h3>
				<i class="ut-plus"></i>
				</a>
			</div>
		</div>
		<div class="project-list">
            <% for(var i=0; i<project_data.length; i++) { %>
			<a class="project-link" href="/project?id=<%= project_data[i].project_id %>">
				<div class="col-1-2 project-block" style="background-color:<%= project_data[i].project_colour %>">
					<h3><%= project_data[i].project_title %></h3>
				</div>
			</a>
            <% } %>
		</div>
	</div>
<% include partials/footer %>