<!-- views/index.ejs -->
<% include partials/header %>
    <div class="content-main project-list">
		<div class="top-bar">
			<div class="add-project">
				<a href="/add_project">
				<h3>Add Project</h3>
				<i class="ut-plus"></i>
				</a>
			</div>
		</div>
		<div class="project-list">
			<!-- Green Block -->
			<a class="project-link" href="/project">
				<div class="col-1-2 green project-block">
					<h3>Project Name</h3>
				</div>
			</a>
			<!-- Blue Block -->
			<a class="project-link" href="/project">
				<div class="col-1-2 blue project-block">
					<h3>Project Name</h3>
				</div>
			</a>
			<!-- Pink Block -->
			<a class="project-link" href="/project">
				<div class="col-1-2 pink project-block">
					<h3>Project Name</h3>
				</div>
			</a>
			<!-- Orange Block -->
			<a class="project-link" href="/project">
				<div class="col-1-2 orange project-block">
					<h3>Project Name</h3>
				</div>
			</a>
			<!-- Purple Block -->
			<a class="project-link" href="/project">
				<div class="col-1-2 purple project-block">
					<h3>Project Name</h3>
				</div>
			</a>
			<!-- Turquoise Block -->
			<a class="project-link" href="/project">
				<div class="col-1-2 turquoise project-block">
					<h3>Project Name</h3>
				</div>
			</a>
			<!-- Red Block -->
			<a class="project-link" href="/project">
				<div class="col-1-2 red project-block">
					<h3>Project Name</h3>
				</div>
			</a>
			<!-- Yellow Block -->
			<a class="project-link" href="/project">
				<div class="col-1-2 yellow project-block">
					<h3>Project Name</h3>
				</div>
			</a>
		</div>
	</div>
<% include partials/footer %>