<!-- views/index.ejs -->
<% include partials/index-header %>
<div class="landing-page">
    <div class="info">
        <h1>Welcome to Utasko</h1>
        <p class="intro">Utasko is designed to streamline project management through task management, file sharing and team communication for digital projects</p>
        <p class="cta">Sign up now to try Utasko for free!</p>
        <a href="/sign_up" class="signup-btn btn">Sign Up</a>
    </div>
</div>
<% include partials/footer %>