<!-- views/index.ejs -->
<% include partials/header %>
    <div class="content-main">
		<div class="container">
            <div class="landing-page">
                <a href="/sign_up" class="btn">Sign Up</a>
                <a href="/login" class="btn">Login</a>
            </div>
        </div>
	</div>
<% include partials/footer %>