<% include partials/header %>

	<div class="container">
		<div class="col-1-1">
			<div class="wrapper">
				<div class="login-form">
					<div class="login-form-inner">
						<h3>Sign In</h3>
						<form>
							<input type="text" name="username" placeholder="Username"></input>
							<input type="text" name="password" placeholder="Password"></input>
							<input type="submit" name="submit" class="submit-btn" value="Login"></input>
						</form>
						<div class="password-link">
							<a href="#">Forgot your password?</a>
						</div>
						<div class="signup-link">
							<a href="#">Don't have an account?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include partials/footer %>