<% include partials/header %>
	    
	    <div class="content-main">
			<div class="top-bar">
				<div class="project-bar">
					<a href="#">
						<h3>Edit Profile</h3>
						<i class="ut-pencil"></i>
					</a>
				</div>
			</div>

		    <div class="container">
                <div class="col-1-1">
                    <div class="wrapper padded">
                        <h1>My Profile</h1>
                        <div class="profile-image">
                            <img src="images/user_icon_lge.png">
                        </div>
                        <div class="profile-info">
                            <p><span>Username:</span> Tasky</p>
                            <p><span>Email:</span> tasky@taskface.com.au</p>
                            <p><span>About:</span> I like to organise my tasks</p>
                        </div>
                    </div>
                </div>
			</div>

		</div> <!-- Close Content Main -->

<% include partials/footer %>