<% include partials/header %>
	    
	    <div class="content-main">
			<div class="top-bar">
				<div class="project-bar">
					<a href="#">
						<h3>Edit Profile</h3>
						<i class="ut-pencil"></i>
					</a>
				</div>
			</div>

		    <div class="container">
		    	
			</div>

		</div> <!-- Close Content Main -->

<% include partials/footer %>