<% include partials/header %>
	    
	    <div class="content-main">
			<div class="top-bar">
				<div class="project-bar">
					<a href="#">
						<h3>Edit Profile</h3>
						<i class="ut-pencil"></i>
					</a>
				</div>
			</div>

		    <div class="container">
                <div class="col-1-1">
                    <div class="wrapper padded">
                      <h1 class="profile-title">My Profile</h1>  
                        <div class="col-1-3">
                            <div class="profile-image">
                                <img src="<%= profile_image %>">
                            </div>
                            <div class="profile-info">
                                <ul>
                                    <li><h4>Username:</h4> <span><%= username %></span></li>
                                    <li><h4>Email:</h4> <span><%= user_email %></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-1-3">
                            <div class="list-projects active-project-list">
                                <h4>Active Projects</h4>
                                <ul>
                                    <li><a href="#">Active Project 1</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                    <li><a href="#">Active Project 2</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                    <li><a href="#">Active Project 3</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                    <li><a href="#">Active Project 4</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                    <li><a href="#">Active Project 5</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-1-3">
                            <div class="list-projects archived-project-list">
                                <h4>Archived Projects</h4>
                                <ul>
                                    <li><a href="#">Archived Project 1</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                    <li><a href="#">Archived Project 2</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                    <li><a href="#">Archived Project 3</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                    <li><a href="#">Archived Project 4</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                    <li><a href="#">Archived Project 5</a> <span><a href="#"><i class="ut-pencil"></i></a> <a href="#"><i class="ut-trash"></i></a></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 </div>
			</div>

		</div> <!-- Close Content Main -->

<% include partials/footer %>