<% include partials/header %>
	    
	    <div class="content-main">
			<div class="top-bar">
				<div class="project-bar">
					<a href="#">
						<h3>Edit Profile</h3>
						<i class="ut-pencil"></i>
					</a>
				</div>
			</div>

		    <div class="container">
                <div class="col-1-1">
                    <div class="wrapper padded no-scroll">
                        <h1>My Profile</h1>
                        <div class="profile-image">
                            <img src="images/user_icon_lge.png">
                        </div>
                        <div class="profile-info">
                            <ul>
                                <li><h4>Username:</h4> <span>Tasky</span></li>
                                <li><h4>Email:</h4> <span>tasky@taskface.com.au</span></li>
                                <li><h4>About:</h4> <span>I like to organise my tasks</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>

		</div> <!-- Close Content Main -->

<% include partials/footer %>