<% include partials/header %>
	    <div class="content-main padded-top">
            <div class="project-title <%= project_colour %>">
                <h2><%= project_title %></h2>
            </div>
            <div class="top-bar">
                <div class="project-bar">
                    <a href="javascript:void(0)" class="repo-trigger">
                        <h3>View Repo</h3>
                        <i class="ut-github"></i>
                    </a>
                    <a href="javascript:void(0)" class="files-trigger">
                        <h3>View Files</h3>
                        <i class="ut-folder"></i>
                    </a>
                    <a href="javascript:void(0)" class="chat-trigger">
                        <h3>View Chat</h3>
                        <i class="ut-chat"></i>
                    </a>
                </div>
            </div>

            <div class="container">
                <% include layouts/task_view %>

                <% include layouts/messages_view %>
                
                <% include layouts/files_view %>
            </div>
		</div> <!-- Close Content Main --> 

<% include partials/footer %>