<% include partials/header %>
	    
	    <div class="content-main">
			<div class="top-bar">
				<div class="project-bar">
					<a href="#">
						<h3>View Repo</h3>
						<i class="ut-github"></i>
					</a>
					<a href="file_view.php">
						<h3>View Files</h3>
						<i class="ut-docs"></i>
					</a>
					<a href="file_view.php">
						<h3>View Converations</h3>
						<i class="ut-chat"></i>
					</a>
				</div>
			</div>

		    <div class="container">
		    	<% include layouts/task_view %>

		    	<% include layouts/messages_view %>
			</div>

		</div> <!-- Close Content Main -->

<% include partials/footer %>