<% include partials/header %>

	<div class="container">
		<div class="col col-1-1">
			<div class="wrapper">
				<div class="signup-form">
					<div class="signup-form-inner">
						<h3>Sign Up</h3>
						<form action="/sign_up" method="post">
							<input type="text" name="name" placeholder="Name" />
							<input type="email" name="email" placeholder="Email Address" />
							<input type="password" name="password" placeholder="Password" />
							<input type="submit" name="submit" class="submit-btn" value="Sign Up" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include partials/footer %>


