<% include partials/index-header-shadow %>

	<div class="container">
		<div class="col col-1-1">
			<div class="wrapper no-scroll">
				<div class="signup-form">
					<div class="signup-form-inner">
						<h3>Sign Up</h3>
                        <% if ( message == "error") { %>
                            <span class="error">This email address is already in use with an account <br/> If this is your account can login by clicking the link below</span>
                        <% } %>
						<form action="/sign_up" method="post">
							<input type="text" name="name" placeholder="Username" required/>
							<input type="email" name="email" placeholder="Email Address" required/>
							<input type="password" name="password" pattern=".{6,}" placeholder="Password (minimum 6 characters)" required/>
                            <input type="hidden" name="profile_image" value="images/profile_images/user_icon.png"/>
							<input type="submit" name="submit" class="submit-btn" value="Sign Up" />
						</form>
                        <div class="login-link">
							<a href="/login">Already have an account? Log in here</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include partials/footer %>


