/***************
     INDEX
***************/
.navbar {
    &.index {
        .navbar-menu-right {
            top: 20px;
            li {
                a {
                    font-size: 16px;
                    padding: 15px 25px;
                }
            }
        }
    }
}



.landing-page {
    background: url('../images/utasko_banner.jpg');
    background-size: cover;
    height: 100%;
    text-align: center;
    overflow: hidden;
    
    .info {
        margin-top: 350px;
        padding: 0 25%;
        
        .intro {
            font-size: 22px;
            margin-bottom: 75px;
        }
        
        .cta {
            font-size: 18px;
            margin-bottom: 25px;
        }
        
        .signup-btn {
            background-color: @main_colour;
            border: 1px solid transparent;
            padding: 15px 45px;
            
            &:hover {
                background-color: @white;
                color: @main_colour;
            }
        }
    }
}

/***************
	LOGIN
****************/
.login-form {
	width: 250px;
	padding: 240px 0;
	margin: 0 auto;

	.login-form-inner {
		width: 100%;
		padding: 35px 50px;
		border: 1px solid @grey9;
		border-radius: 6px;
        
        span {
            &.error {
                color: @utasko_red;
            }
            
            &.success {
                color: @utasko_green;
            }
        }

		h3 {
			margin-top: 0;
			color: @white;
		}

		form {
			input {
				width: 100%;
				padding: 15px 25px;
				display: block;
				margin-top: 15px;
                margin-bottom: 5px;
				border-radius: 4px;
				border: 1px solid @grey9;
				font-size: 14px;
				box-sizing: border-box;
			}

			.submit-btn {
				color: @white;
				padding: 15px 0;
				text-align: center;
				text-transform: uppercase;
				font-size: 14px;
				background: transparent;
				border: 1px solid @grey9;
				transition: 0.4s;
				cursor: pointer;
                margin-bottom: 20px;

				&:hover {
					background: @white;
					color: @main_colour;
					transition: 0.4s;
				}
			}
		}

		.password-link {
			margin-bottom: 5px;
			a {
				font-size: 12px;

				&:hover {
					color: @white;
					transition: 0.4s;
				}
			}
		}

		.signup-link {
			a {
				font-size: 12px;

				&:hover {
					color: @white;
					transition: 0.4s;
				}
			}
		}
	}
}

/*****************
	SIGN UP
*****************/
.signup-form {
	width: 250px;
	padding: 230px;
	margin: 0 auto;

	.signup-form-inner {
		width: 100%;
		padding: 35px 50px;
		border: 1px solid @grey9;
		border-radius: 6px;
        
        span {
                &.error {
                    display: none;
                    color: @utasko_red;
                    margin-bottom: 15px;
                }
        }

		h3 {
			margin-top: 0;
			color: @white;
		}

		form {
			input {
				width: 100%;
				padding: 15px 25px;
				display: block;
				margin-top: 15px;
                margin-bottom: 5px;
				border-radius: 4px;
				border: 1px solid @grey9;
				font-size: 14px;
				box-sizing: border-box;
			}

			.submit-btn {
				color: @white;
				padding: 15px 0;
				text-align: center;
				text-transform: uppercase;
				font-size: 14px;
				background: transparent;
				border: 1px solid @grey9;
				transition: 0.4s;
				cursor: pointer;
                margin-bottom: 20px;

				&:hover {
					background: @white;
					color: @main_colour;
					transition: 0.4s;
				}
			}
		}
        
        .login-link {
			margin-bottom: 5px;
			a {
				font-size: 12px;

				&:hover {
					color: @white;
					transition: 0.4s;
				}
			}
		}
	}
}

/***************
	HOME
****************/
.top-bar {
	width: 100%;
	background-color: @grey5;
	overflow: auto;
	position: absolute;
	z-index: 99;

	.add-project {
		float: right;
		color: @white;
		padding: 0 35px;

		a {
			text-decoration: none;
			color: @white;
			transition: 0.4s;
			h3 {
				display: inline-block;
				text-transform: uppercase;
			}

			i {
				font-size: 28px;
			}

			&:hover {
				color: @grey9;
				transition: 0.4s;
			}
		}
	}
}

.project-list {
	height: 100%;
	overflow: scroll;
	padding-top: 93px;
    margin-right: -15px;
	.project-link {
		color: @white;
		text-align: center;
		text-transform: uppercase;
		

		.project-block {
			h3 {
				margin: 150px 0;
				display: inline-block;
				position: relative;
				padding-bottom: 5px;

				&:after {
					content: '';
					display: block;
					margin: auto;
					height: 3px;
					width: 0px;
					background: transparent;
					transition: width .5s ease, background-color .5s ease;
				}
			}
		}
		&:hover {
			.project-block {
				h3 {

					&:after {
						background: @white;
						width: 100%;
					}
				}
			}

		}
	}
}

/*****************
     PROFILE
*****************/

.profile-title {
    text-align: center;
}

.profile-image {
    padding-bottom: 50px;
    
    img {
        display: block;
        width: 200px;
        margin: 0 auto;
    }
}

.profile-info {
    display: table;
    margin: 0 auto;
    ul {
        list-style-type: none;
        padding-left: 75px;
        
        li {
            h4 {
                display: inline-block;
                width: 125px;
                margin:0 0 15px;
            }
            
            span {
                display: inline-block;
                font-size: 18px;
            }
        }
    }
}

/*****************
	ADD PROJECT
*****************/
.add-project-form {
	width: 700px;
	padding: 70px;
	margin: 0 auto;

	.add-project-form-inner {
		width: 100%;
		padding: 35px 50px;
		border: 1px solid @grey9;
		border-radius: 6px;

		h3 {
			margin-top: 0;
			color: @white;
		}

		form {
            
            ::-webkit-calendar-picker-indicator {
                display: none;
            }
            
            span {
                &.error {
                    color: @utasko_red;
                    display: none;
                }
            }
            
			input {
				width: 100%;
				padding: 15px 25px;
				display: block;
				margin-top: 15px;
				border-radius: 4px;
				border: 1px solid @grey9;
				font-size: 14px;
				box-sizing: border-box;
			}
            
            .custom-select {
                width: 100%;
                padding: 0;
                margin-top: 15px;
                display: block;
                overflow: hidden;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                background-color: @white;
                position: relative;
                
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    border-top: 5px solid @main_colour;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    bottom: 20px;
                    left: 95%;
                }
                
                select {
                    padding: 15px 25px;
                    width: 100%;
                    border: none;
                    box-shadow: none;
                    background-color: transparent;
                    background-image: none;
                    font-size: 14px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }
            
            .project-colour{
                .custom-checkbox {
                    display: inline-block;
                    padding-right: 15px;
                    
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
            
            textarea {
                width: 100%;
                display: block;
				margin-top: 15px;
				border-radius: 4px;
				border: 1px solid @grey9;
				font-size: 14px;
                box-sizing: border-box;
                height: 250px;
                resize: none;
                padding: 15px 25px;
            }

			.submit-btn {
				color: @white;
				padding: 15px 0;
				text-align: center;
				text-transform: uppercase;
				font-size: 14px;
				background: transparent;
				border: 1px solid @grey9;
				transition: 0.4s;
				cursor: pointer;

				&:hover {
					background: @white;
					color: @main_colour;
					transition: 0.4s;
				}
			}
		}
	}
}

/**********************
	 PROJECT VIEW
**********************/

.project-title {
    width: 100%;
    overflow: auto;
    position: absolute;
    text-align: center;
    top: 100px;
    h2 {
        text-transform: uppercase;
        padding: 25px 0;
        color: @white;
    }
}

.top-bar {
	width: 100%;
	background-color: @grey5;
	overflow: auto;
	position: absolute;

	.project-bar {
		float: right;
		color: @white;
		padding: 0 35px;

		a {
			text-decoration: none;
			color: @white;
			transition: 0.4s;
			padding-right: 25px;

			&:last-child {
				padding-right: 0;

			}

			h3 {
				display: inline-block;
				font-weight: 300;
			}

			i {
				font-size: 28px;
			}

			&:hover {
				color: @grey9;
				transition: 0.4s;
			}
		}
	}
}

/*************
	TASKS
**************/

.tasks {
	border-right: 1px solid @grey9;
	box-sizing: border-box;
	box-sizing: inherit;
	height: 100%;
    position:relative;
    
    .task-list {
        margin-top: 55px;
        padding-bottom: 55px;
    }
    
    .add-task-bar {
        background: @main_colour;
        width: 100%;
        height: 50px;
        box-shadow: 0 5px 5px @shadow_colour;
        position: absolute;
        border-right: 1px solid @greyC;
        z-index: 99;
        i {
            color: @white;
            font-size: 24px;
            display: inline-block;
            margin: 12px 0 0 25px;
        }

        p {
            display: inline-block;
            margin: 0;
            margin: 12px 25px 0 0;
            position: relative;
        }
    }

	.task {
		padding: 20px 150px;
		border-bottom: 1px solid @grey9;
		.task-header {
			cursor: pointer;
			.task-title {
				font-size: 18px;
				display: inline-block;
				transition: 0.4s;
				margin-bottom: 5px;

			}

			.task-toggle {
				display: inline-block;
				float: right;
				position: relative;
				top: 28px;

				i {
					font-size: 24px;
					transition: 0.4s;
				}
			}

			.task-quick-info {
				p {
					display: inline-block;
					color: @greyC;
					font-size: 14px;
					margin-top: 0;
				}

				&.disabled {
					display: none;
				}
			}

			&:hover {
				.task-toggle {
					color: @white;
					transition: 0.4s;
				}

				.task-title {
					color: @utasko_green;
					transition: 0.4s;
				}
			}
		}

		&.open {
			.task-title {
				color: @utasko_green;
			}
		}

		.task-info {
			display: none;
			position: relative;

			.due-date {
				color: @greyC;
				font-size: 14px;
				margin-top: 0;
			}
			.task-requirments {
				display: inline-block;
				width: 100%;
				margin-right: 5%;
                margin-bottom: 15px;

				ul {
					list-style-type: none;
					padding-left: 25px;
					.task-requirment {
						cursor: pointer;
						margin-bottom: 15px;

						&:last-child {
							margin-bottom: 0;
						}
						&:before {
							content:'\e80d';
							font-family: 'utasko';
							color: @white;
							position: absolute;
							margin-left: -25px;
						}

						&.complete {
							text-decoration: line-through;
							color: @grey9;

							&:before {
								content:'\e80c';
								font-family: 'utasko';
                                color: @grey9;
							}
						}

						&:hover {
							color: @greyE;
							transition: 0.4s;
                            
                            &:before {
                                content: '\e80c';
                                font-family: 'utasko';
                                color: @greyE;
                            }
						}
					}
				}
			}

			.task-users {
				display: block;
                border-bottom: 1px solid @grey5;
                border-top: 1px solid @grey5;
                padding: 15px 0;
                ul {
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    li {
                        display: inline-block;
                        padding-right: 15px;
                        
                        &:last-child {
                            padding-right: none;
                        }
                    }
                }
			}
            
            .task-options {
                display:block;
                float: right;
                transition: 0.4s;
                bottom: 30px;
                right: 5px;
                position: relative;
                font-size: 18px;
                &:hover {
                    color: @white;
                    transition: 0.4s;
                }
            }
            
            .task-options-expanded {
                padding: 25px 15px;
                border-top: 1px solid @grey5;
                display: none;
                
                .btn {
                    margin-right: 15px;
                    display: inline-block;
                    
                    &:last-child {
                        margin-right: 0;
                        float: right;
                    }
                }
            }
		}
	}
}

/****************
    MESSAGES
*****************/
.conversation {
	box-sizing: border-box;
	box-sizing: inherit;
	height: 100%;

	.message-stream {
		.message-date {
			border-bottom: 1px solid @grey9;
			h5 {
				color: @white;
				text-align: center;
			}
		}
		.message {
			padding: 15px 0 0;
			border-bottom: 1px solid @grey9;
			.message-info {
				padding: 0 75px;
				p {
					display: inline-block;
					color: @grey5;
					margin: 0;
				
					&.user-name {
						padding-right: 15px;
						margin: 0;
					}

					
				}
			}
			.message-body {
				padding: 0 75px;
			}
		}
	}

	.message-bar {
		width: 100%;
		height: 40px;
		position: fixed;
		bottom: 0;
		background: @main_colour;
		border-top: 1px solid @grey9;
		padding: 10px 0 20px;

		i {
			display: inline-block;
			color: @white;
			font-size: 30px;
			position: relative;
			top: 8px;
			left: 15px;
		}

		input {
			display: inline-block;
			width: 25%;
			height: 35px;
			border-radius: 6px;
			margin-left: 1.5%;

		}
	}
}

/***************************
		CONVERSATIONS
***************************/
.conversations {
    height: 100%;
    position:relative;
    .add-convo-bar {
			background: @main_colour;
			width: 100%;
			height: 50px;
			box-shadow: 0 5px 5px @shadow_colour;
            position: absolute;
            z-index: 99;
			i {
				color: @white;
				font-size: 24px;
				display: inline-block;
				margin: 12px 0 0 25px;
			}

			p {
				display: inline-block;
				margin: 0;
				margin: 12px 25px 0 0;
                position: relative;
			}
		}
	.conversation-list {
        margin-top: 55px;
		.convo {
			border-bottom: 1px solid @grey9;


			.conversation-info {
				padding: 0 75px;

				img {
					display: inline-block;
					position: relative;
					top: 15px;
					padding-right: 25px
				}
				p {
					display: inline-block;
					color: @white;
					margin: 0;
				}
			}
			.message-truncated {
				padding: 0 75px;
			}
		}
	}
}

/**********************
		FILES
**********************/
.files {
	border-right: 1px solid @grey9;
	.file-block {
		overflow: auto;
		border-bottom: 1px solid @grey9;
		padding-bottom: 28px;
		.file {
			padding: 25px 200px;

			i {
				font-size: 36px;
				color: @white;
				display: block;
				float: left;
				margin: 15px 25px 0 0;

				&.ut-download-cloud {
					font-size: 18px;
					margin: 15px 0 0 175px;
					color: @utasko_green;
				}

			}

			.file-info {
				display: block;
				float: left;
			
				p {
					display: block;
					margin: 0;
				

					&.file-name {
						font-size: 24px;
					}
				}
			}
		}
	}
}

