h1 {
	font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
	font-size: 38px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 160%;
}

h2 {
	font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 160%;
}

h3 {
	font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 160%;
}

h4 {
	font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 160%;
}

h5 {
	font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 160%;
}

h6 {
	font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 160%;
}

p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 160%;
	color: @white;

	&.disabled {
		color: @grey5;
	}
}

a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 160%;
	text-decoration: none;
	color: @grey9;
	transition: 0.4s;

	
	&:hover {
		transition: 0.4s;
	}

	&.disabled {
		color: @grey5;
	}
}

ul {
	li {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 300;
		line-height: 160%;
		color: @white;
	}
}

