@greyE: #E0E0E0;
@greyC: #CCCCCC;
@grey9: #979797;
@grey5: #505050;

@white: #FFFFFF;
@black: #000000;

@main_colour: #333333;

@pinkA: #A53695;
@pinkB: #B73D97;
@pinkC: #C34599;
@pinkD: #DD54A1;
@purple: #952B90;


@utasko_green: #B8EE66;
@utasko_blue: #66AFEE;
@utasko_pink: #EE6666;
@utasko_orange: #FFA946;
@utasko_purple: #9566EE;
@utasko_turquoise: #50E3C2;
@utasko_yellow: #FFF363;
@utasko_red: #F35252;


@shadow_colour: #292929;
