/* ==========================================================================
   Less StyleSheets
   ========================================================================== */
h1 {
  font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
  font-size: 38px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 160%;
  color: #ffffff;
}
h2 {
  font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 160%;
}
h3 {
  font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 160%;
}
h4 {
  font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 160%;
}
h5 {
  font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 160%;
}
h6 {
  font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 160%;
}
p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 160%;
  color: #ffffff;
}
p.disabled {
  color: #505050;
}
a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 160%;
  text-decoration: none;
  color: #979797;
  transition: 0.4s;
  cursor: pointer;
}
a:hover {
  transition: 0.4s;
}
a.disabled {
  color: #505050;
}
a.btn {
  color: #ffffff;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  background: transparent;
  border: 1px solid #979797;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}
a.btn:hover {
  background: #ffffff;
  color: #333333;
  transition: 0.4s;
}
a.btn.danger:hover {
  background-color: #f35252;
  border: 1px solid transparent;
}
ul li {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 160%;
  color: #ffffff;
}
span {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.alert {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 6px;
}
.alert span {
  color: #ffffff;
}
.alert.alert-success {
  background-color: rgba(184, 238, 102, 0.8);
}
.col {
  height: 100%;
}
.col-1-1 {
  width: 100%;
}
.col-1-2 {
  width: calc(100% / 2);
  float: left;
}
.col-1-3 {
  width: calc(100% / 3);
  float: left;
}
.col-1-4 {
  width: calc(100% / 4);
  float: left;
}
.col-1-5 {
  width: calc(100% / 5);
  float: left;
}
.col-1-6 {
  width: calc(100% / 6);
  float: left;
}
.col-1-7 {
  width: calc(100% / 7);
  float: left;
}
.col-1-8 {
  width: calc(100% / 8);
  float: left;
}
.col-1-9 {
  width: calc(100% / 9);
  float: left;
}
.col-1-10 {
  width: calc(100% / 10);
  float: left;
}
.col-1-11 {
  width: calc(100% / 11);
  float: left;
}
.col-1-12 {
  width: calc(100% / 12);
  float: left;
}
.col-2-3 {
  width: calc(100% * 2/3);
  float: left;
}
.clearfix {
  clear: both;
}
/***************
	LOGIN
****************/
.login-form {
  width: 450px;
  padding: 240px 0;
  margin: 0 auto;
}
.login-form .login-form-inner {
  width: 100%;
  padding: 35px 50px;
  border: 1px solid #979797;
  border-radius: 6px;
}
.login-form .login-form-inner span.error {
  color: #f35252;
}
.login-form .login-form-inner span.success {
  color: #b8ee66;
}
.login-form .login-form-inner h3 {
  margin-top: 0;
  color: #ffffff;
}
.login-form .login-form-inner form input {
  width: 100%;
  padding: 15px 25px;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #979797;
  font-size: 14px;
  box-sizing: border-box;
}
.login-form .login-form-inner form .submit-btn {
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  background: transparent;
  border: 1px solid #979797;
  transition: 0.4s;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 300;
}
.login-form .login-form-inner form .submit-btn:hover {
  background: #ffffff;
  color: #333333;
  transition: 0.4s;
}
.login-form .login-form-inner .password-link {
  margin-bottom: 5px;
}
.login-form .login-form-inner .password-link a {
  font-size: 12px;
}
.login-form .login-form-inner .password-link a:hover {
  color: #ffffff;
  transition: 0.4s;
}
.login-form .login-form-inner .signup-link a {
  font-size: 12px;
}
.login-form .login-form-inner .signup-link a:hover {
  color: #ffffff;
  transition: 0.4s;
}
/*****************
	SIGN UP
*****************/
.signup-form {
  width: 450px;
  padding: 230px 0;
  margin: 0 auto;
}
.signup-form .signup-form-inner {
  width: 100%;
  padding: 35px 50px;
  border: 1px solid #979797;
  border-radius: 6px;
}
.signup-form .signup-form-inner span.error {
  color: #f35252;
  margin-bottom: 15px;
}
.signup-form .signup-form-inner h3 {
  margin-top: 0;
  color: #ffffff;
}
.signup-form .signup-form-inner form input {
  width: 100%;
  padding: 15px 25px;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #979797;
  font-size: 14px;
  box-sizing: border-box;
}
.signup-form .signup-form-inner form .submit-btn {
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  background: transparent;
  border: 1px solid #979797;
  transition: 0.4s;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 300;
}
.signup-form .signup-form-inner form .submit-btn:hover {
  background: #ffffff;
  color: #333333;
  transition: 0.4s;
}
.signup-form .signup-form-inner .login-link {
  margin-bottom: 5px;
}
.signup-form .signup-form-inner .login-link a {
  font-size: 12px;
}
.signup-form .signup-form-inner .login-link a:hover {
  color: #ffffff;
  transition: 0.4s;
}
/*********************
	GENERAL FORM
*********************/
.form {
  width: 700px;
  padding: 70px;
  margin: 0 auto;
}
.form.popup-form {
  width: auto;
  padding: 30px;
}
.form.popup-form .form-inner {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
}
.form .form-inner {
  width: 100%;
  padding: 35px 50px;
  border: 1px solid #979797;
  border-radius: 6px;
}
.form .form-inner h3 {
  margin-top: 0;
  color: #ffffff;
}
.form .form-inner form span.error {
  color: #f35252;
}
.form .form-inner form label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 160%;
  color: #ffffff;
  text-transform: uppercase;
}
.form .form-inner form input {
  width: 100%;
  padding: 15px 25px;
  display: block;
  margin-top: 15px;
  border-radius: 4px;
  border: 1px solid #979797;
  font-size: 14px;
  box-sizing: border-box;
}
.form .form-inner form .custom-select {
  width: 100%;
  padding: 0;
  margin-top: 15px;
  display: block;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
}
.form .form-inner form .custom-select:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-top: 5px solid #333333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: 20px;
  left: 95%;
}
.form .form-inner form .custom-select select {
  padding: 15px 25px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form .form-inner form .project-colour .custom-checkbox {
  display: inline-block;
  padding-right: 15px;
}
.form .form-inner form .project-colour .custom-checkbox:last-child {
  padding-right: 0;
}
.form .form-inner form textarea {
  width: 100%;
  display: block;
  margin-top: 15px;
  border-radius: 4px;
  border: 1px solid #979797;
  font-size: 14px;
  box-sizing: border-box;
  height: 115px;
  resize: none;
  padding: 15px 25px;
}
.form .form-inner form .submit-btn {
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  background: transparent;
  border: 1px solid #979797;
  transition: 0.4s;
  cursor: pointer;
  font-weight: 300;
}
.form .form-inner form .submit-btn:hover {
  background: #ffffff;
  color: #333333;
  transition: 0.4s;
}
.form .form-inner form .form-button {
  width: 100%;
  margin: 15px 0;
  float: left;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  background: transparent;
  border: 1px solid #979797;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}
.form .form-inner form .form-button.hidden {
  display: none;
}
.form .form-inner form .form-button.half {
  width: calc(50% - 7.5px);
  margin-right: 15px;
}
.form .form-inner form .form-button.remove-button {
  margin-right: 0;
}
.form .form-inner form .form-button:hover {
  background: #ffffff;
  color: #333333;
  transition: 0.4s;
}
.form .form-inner form .form-button:hover a {
  color: #333333;
}
.form .form-inner form .form-button a {
  border: none;
}
.form .form-inner form .form-button a:hover {
  background-color: transparent;
}
/***************************
        Uploads Form 
***************************/
form#upload-widget {
  margin: 35px 0 50px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100% !important;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  background-color: #333333;
  min-height: 100% !important;
  height: 100%;
}
::-webkit-scrollbar {
  background-color: #333333;
  width: 0;
}
/***************
	HEADER
****************/
.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #333333;
  z-index: 999999;
}
.navbar.index {
  background-color: transparent;
  box-shadow: none;
}
.navbar.shadow {
  box-shadow: 0 5px 5px #292929;
}
.navbar .navbar-menu-left {
  position: absolute;
  list-style-type: none;
  padding: 5px 15px;
  margin: 12px 0;
}
.navbar .navbar-menu-left img {
  display: inline-block;
  width: 66px;
  height: 66px;
}
.navbar .navbar-menu-right {
  list-style-type: none;
  position: absolute;
  top: 15px;
  right: 20px;
}
.navbar .navbar-menu-right li {
  display: inline-block;
}
.navbar .navbar-menu-right li.menu-button {
  position: relative;
  bottom: 12px;
}
.navbar .navbar-menu-right li.user-info {
  padding-right: 25px;
  color: #979797;
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.navbar .navbar-menu-right li.user-info img {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 20px;
}
.navbar .navbar-menu-right li.search.active {
  background-color: #505050;
}
.navbar .navbar-menu-right li a {
  color: #ffffff;
  font-size: 28px;
  padding: 15px 5px;
  text-decoration: none;
  transition: 0.4s;
}
.navbar .navbar-menu-right li a:hover {
  color: #979797;
  transition: 0.4s;
}
.navbar .navbar-menu-right li .search-container .search-bar {
  position: relative;
  bottom: 5px;
  display: none;
  width: 0;
  transition: .5s;
}
.navbar .navbar-menu-right li .search-container .search-bar.active {
  display: inline-block;
  width: 250px;
  transition: 0.5s;
}
.navbar .navbar-menu-right li .search-container .search-bar .search-box {
  height: 42px;
  width: 225px;
  border-radius: 4px;
  border: transparent;
  padding-left: 15px;
  font-size: 16px;
}
.slide-menu {
  position: fixed;
  right: 0;
  width: 375px;
  height: 100%;
  background-color: #333333;
  z-index: 9999;
  margin-top: 85px;
  margin-right: -850px;
  display: block;
  transition: 0.6s;
}
.slide-menu.open {
  transition: 0.6s;
  margin-right: 0;
}
.slide-menu ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
}
.slide-menu ul li {
  color: #ffffff;
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #979797;
}
.slide-menu ul li a {
  font-size: 18px;
  transition: 0.4s;
}
.slide-menu ul li a i {
  font-size: 22px;
  padding: 0 25px 0 50px;
}
.slide-menu ul li a:hover {
  color: #ffffff;
  transition: 0.4s;
}
/***************
	FOOTER
****************/
/*********************
	CONTENT/WRAPPERS
**********************/
.content-main {
  box-sizing: border-box;
  box-sizing: inherit;
  padding: 100px 0 0;
  height: 100%;
  overflow: hidden;
}
.content-main.padded-top {
  padding-top: 255px;
  padding-bottom: 0;
}
.container {
  height: 100%;
  padding-top: 95px;
  box-sizing: border-box;
  box-sizing: inherit;
}
.container.no-padding {
  padding-top: 15px;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}
.wrapper.small {
  padding-bottom: 70px;
}
.wrapper.padded {
  padding: 0 150px;
  width: auto;
}
.wrapper.no-scroll {
  overflow: hidden;
}
.overlay {
  visibility: hidden;
  width: 100%;
  height: 100%%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.overlay.cover {
  width: 100%;
  height: 100%;
  visibility: visible;
}
/************************
       DATE PICKER
************************/
.picker {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.picker__holder {
  max-width: 85%;
}
/************************
        FANCYBOX
************************/
.fancybox-overlay {
  z-index: 999999;
}
.fancybox-popup {
  background-color: #333333;
  max-width: 100%;
  width: 800px;
  position: relative;
  display: none;
}
.fancybox-popup .popup-close {
  position: absolute;
  right: 25px;
  top: 25px;
}
.fancybox-popup .popup-close a {
  color: #979797;
}
.fancybox-popup .popup-close a:hover {
  color: #ffffff;
}
.fancybox-popup .popup-header {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 30px;
  box-shadow: 0 5px 5px #292929;
}
.fancybox-popup .popup-header h3 {
  margin: 0;
  color: #ffffff;
}
.fancybox-popup .popup-header .subtitle {
  color: #979797;
  font-size: 18px;
  margin: 0;
}
.fancybox-popup .popup-body {
  box-sizing: border-box;
  padding: 0 30px 25px;
}
.fancybox-popup .popup-body #my-dropzone {
  width: 100%;
  height: 200px;
  text-align: center;
  margin-bottom: 75px;
}
.fancybox-popup .popup-body #my-dropzone span {
  color: #ffffff;
}
.fancybox-popup .popup-body #my-dropzone img {
  width: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
/************************
        Dropzone
*************************/
.dropzone {
  background-color: #333333;
  border: none;
}
.dropzone .dz-preview .dz-image {
  border-radius: 0;
}
/*************************
	   404 STYLES
*************************/
.page-not-found {
  padding: 150px ;
  margin: 0 auto;
  text-align: center;
}
.page-not-found h1 {
  color: #ffffff;
  font-size: 60px;
}
.page-not-found h2 {
  color: #ffffff;
}
/***************
     INDEX
***************/
.navbar.index .navbar-menu-right {
  top: 20px;
}
.navbar.index .navbar-menu-right li a {
  font-size: 16px;
  padding: 15px 25px;
}
.landing-page {
  background: url('../images/utasko_banner.jpg');
  background-size: cover;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.landing-page .info {
  margin-top: 350px;
  padding: 0 25%;
}
.landing-page .info .intro {
  font-size: 22px;
  margin-bottom: 75px;
}
.landing-page .info .cta {
  font-size: 18px;
  margin-bottom: 25px;
}
.landing-page .info .signup-btn {
  background-color: #333333;
  border: 1px solid transparent;
  padding: 15px 45px;
}
.landing-page .info .signup-btn:hover {
  background-color: #ffffff;
  color: #333333;
}
/***************
	HOME
****************/
.top-bar {
  width: 100%;
  background-color: #505050;
  overflow: auto;
  position: absolute;
  z-index: 99;
}
.top-bar .add-project,
.top-bar .profile-bar {
  float: right;
  color: #ffffff;
  padding: 0 35px;
}
.top-bar .add-project a,
.top-bar .profile-bar a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
}
.top-bar .add-project a h3,
.top-bar .profile-bar a h3 {
  display: inline-block;
  text-transform: uppercase;
}
.top-bar .add-project a i,
.top-bar .profile-bar a i {
  font-size: 28px;
}
.top-bar .add-project a:hover,
.top-bar .profile-bar a:hover {
  color: #979797;
  transition: 0.4s;
}
.project-list {
  height: 100%;
  overflow-y: scroll;
  padding-top: 93px;
}
.project-list .project-link {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.project-list .project-link .project-block h3 {
  margin: 150px 0;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.project-list .project-link .project-block h3:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.project-list .project-link .project-block.green {
  background-color: #b8ee66;
}
.project-list .project-link .project-block.blue {
  background-color: #66afee;
}
.project-list .project-link .project-block.pink {
  background-color: #ee6666;
}
.project-list .project-link .project-block.orange {
  background-color: #ffa946;
}
.project-list .project-link .project-block.purple {
  background-color: #9566ee;
}
.project-list .project-link .project-block.turquoise {
  background-color: #50e3c2;
}
.project-list .project-link .project-block.yellow {
  background-color: #fff363;
}
.project-list .project-link .project-block.red {
  background-color: #f35252;
}
.project-list .project-link:hover .project-block h3:after {
  background: #ffffff;
  width: 100%;
}
.project-colour {
  margin-top: 15px;
  text-align: center;
}
.project-colour .radio-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.project-colour .radio-list li {
  display: inline-block;
  width: 35px;
}
.project-colour .radio-list li input[type=radio] {
  position: absolute;
  opacity: 0;
  width: auto;
  cursor: pointer;
  height: 20px;
  width: 15px;
  margin-top: 2px;
  margin-left: 8px;
  z-index: 99;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.green {
  border: 3px solid #b8ee66;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.green:before {
  background: #b8ee66;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.blue {
  border: 3px solid #66afee;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.blue:before {
  background: #66afee;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.pink {
  border: 3px solid #ee6666;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.pink:before {
  background: #ee6666;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.orange {
  border: 3px solid #ffa946;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.orange:before {
  background: #ffa946;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.purple {
  border: 3px solid #9566ee;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.purple:before {
  background: #9566ee;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.turquoise {
  border: 3px solid #50e3c2;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.turquoise:before {
  background: #50e3c2;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.yellow {
  border: 3px solid #fff363;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.yellow:before {
  background: #fff363;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.red {
  border: 3px solid #f35252;
}
.project-colour .radio-list li input[type=radio]:checked ~ .check.red:before {
  background: #f35252;
}
.project-colour .radio-list li .check {
  display: block;
  position: relative;
  border: 3px solid #FFFFFF;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
.project-colour .radio-list li .check:before {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  content: '';
  border-radius: 100%;
  height: 9px;
  width: 9px;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.project-colour .radio-list li:hover .check.green {
  border: 3px solid #b8ee66;
}
.project-colour .radio-list li:hover .check.blue {
  border: 3px solid #66afee;
}
.project-colour .radio-list li:hover .check.pink {
  border: 3px solid #ee6666;
}
.project-colour .radio-list li:hover .check.orange {
  border: 3px solid #ffa946;
}
.project-colour .radio-list li:hover .check.purple {
  border: 3px solid #9566ee;
}
.project-colour .radio-list li:hover .check.turquoise {
  border: 3px solid #50e3c2;
}
.project-colour .radio-list li:hover .check.yellow {
  border: 3px solid #fff363;
}
.project-colour .radio-list li:hover .check.red {
  border: 3px solid #f35252;
}
/*****************
     PROFILE
*****************/
.profile-title {
  text-align: center;
}
.profile-image {
  padding-bottom: 15px;
}
.profile-image img {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.profile-info {
  text-align: center;
}
.profile-info h4 {
  color: #ffffff;
  margin-bottom: 5px;
}
.profile-info h4:first-child {
  margin-top: 10px;
}
.profile-info p {
  margin-top: 0;
  font-size: 18px;
}
.list-projects {
  margin-bottom: 25px;
}
.list-projects h4 {
  color: #ffffff;
  margin: 0 0 15px;
}
.list-projects ul {
  padding: 0;
  list-style-type: none;
}
.list-projects ul li {
  padding: 15px 10px 15px;
  border-bottom: 1px solid #505050;
}
.list-projects ul li:nth-child(even) {
  background-color: #505050;
}
.list-projects ul li a:hover {
  color: #ffffff;
  transition: 0.4s;
}
.list-projects ul li span {
  float: right;
}
.list-projects ul li span a {
  margin-right: 10px;
}
.list-projects ul li span a:last-child {
  margin-right: 0;
}
/**********************
	 PROJECT VIEW
**********************/
.project-title {
  width: 100%;
  overflow: auto;
  position: absolute;
  text-align: center;
  top: 100px;
}
.project-title h2 {
  text-transform: uppercase;
  padding: 25px 0;
  color: #ffffff;
}
.project-title.green {
  background-color: #b8ee66;
}
.project-title.blue {
  background-color: #66afee;
}
.project-title.pink {
  background-color: #ee6666;
}
.project-title.orange {
  background-color: #ffa946;
}
.project-title.purple {
  background-color: #9566ee;
}
.project-title.turquoise {
  background-color: #50e3c2;
}
.project-title.yellow {
  background-color: #ffa946;
}
.project-title.red {
  background-color: #f35252;
}
.top-bar {
  width: 100%;
  background-color: #505050;
  overflow: auto;
  position: absolute;
}
.top-bar .project-bar {
  float: right;
  color: #ffffff;
  padding: 0 35px;
}
.top-bar .project-bar a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
  padding-right: 25px;
}
.top-bar .project-bar a:last-child {
  padding-right: 0;
}
.top-bar .project-bar a h3 {
  display: inline-block;
  font-weight: 300;
}
.top-bar .project-bar a i {
  font-size: 28px;
}
.top-bar .project-bar a:hover {
  color: #979797;
  transition: 0.4s;
}
.top-bar-mobile {
  display: none;
  width: 100%;
  background-color: #505050;
  overflow: auto;
  position: absolute;
  padding: 32px;
}
.top-bar-mobile .chat-trigger {
  display: static;
}
.top-bar-mobile .project-bar {
  text-align: center;
  color: #ffffff;
  padding: 0 35px;
}
.top-bar-mobile .project-bar a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
  padding-right: 25px;
}
.top-bar-mobile .project-bar a:last-child {
  padding-right: 0;
}
.top-bar-mobile .project-bar a i {
  font-size: 28px;
}
.top-bar-mobile .project-bar a:hover {
  color: #979797;
  transition: 0.4s;
}
/*************
	TASKS
**************/
.tasks {
  border-right: 1px solid #979797;
  box-sizing: border-box;
  box-sizing: inherit;
  height: 100%;
  position: relative;
}
.tasks .task-list {
  margin-top: 55px;
  padding-bottom: 55px;
}
.tasks .add-task-bar {
  background: #333333;
  width: 100%;
  height: 50px;
  box-shadow: 0 5px 5px #292929;
  position: absolute;
  border-right: 1px solid #979797;
  z-index: 99;
}
.tasks .add-task-bar i {
  color: #ffffff;
  font-size: 24px;
  display: inline-block;
  margin: 12px 0 0 25px;
}
.tasks .add-task-bar p {
  display: inline-block;
  margin: 0;
  margin: 12px 25px 0 0;
  position: relative;
  float: right;
}
.tasks .task {
  padding: 20px 75px;
  border-bottom: 1px solid #979797;
}
.tasks .task.complete .task-info .task-options-expanded .btn.task-complete {
  display: none;
}
.tasks .task.complete .task-info .task-options-expanded .btn.unmark-task-complete {
  display: inline-block;
}
.tasks .task .task-header {
  cursor: pointer;
}
.tasks .task .task-header .task-title {
  font-size: 18px;
  display: inline-block;
  transition: 0.4s;
  margin-bottom: 5px;
}
.tasks .task .task-header .task-toggle {
  display: inline-block;
  float: right;
  position: relative;
  top: 28px;
}
.tasks .task .task-header .task-toggle i {
  font-size: 24px;
  transition: 0.4s;
}
.tasks .task .task-header .task-quick-info p {
  display: inline-block;
  color: #cccccc;
  font-size: 14px;
  margin-top: 0;
  padding-right: 10px;
}
.tasks .task .task-header .task-quick-info.disabled {
  display: none;
}
.tasks .task .task-header:hover .task-toggle {
  color: #ffffff;
  transition: 0.4s;
}
.tasks .task .task-header.green:hover .task-title {
  color: #b8ee66;
  transition: 0.4s;
}
.tasks .task .task-header.green.open .task-title {
  color: #b8ee66;
}
.tasks .task .task-header.blue:hover .task-title {
  color: #66afee;
  transition: 0.4s;
}
.tasks .task .task-header.blue.open .task-title {
  color: #66afee;
}
.tasks .task .task-header.pink:hover .task-title {
  color: #ee6666;
  transition: 0.4s;
}
.tasks .task .task-header.pink.open .task-title {
  color: #ee6666;
}
.tasks .task .task-header.orange:hover .task-title {
  color: #ffa946;
  transition: 0.4s;
}
.tasks .task .task-header.orange.open .task-title {
  color: #ffa946;
}
.tasks .task .task-header.purple:hover .task-title {
  color: #9566ee;
  transition: 0.4s;
}
.tasks .task .task-header.purple.open .task-title {
  color: #9566ee;
}
.tasks .task .task-header.turquoise:hover .task-title {
  color: #50e3c2;
  transition: 0.4s;
}
.tasks .task .task-header.turquoise.open .task-title {
  color: #50e3c2;
}
.tasks .task .task-header.yellow:hover .task-title {
  color: #fff363;
  transition: 0.4s;
}
.tasks .task .task-header.yellow.open .task-title {
  color: #fff363;
}
.tasks .task .task-header.red:hover .task-title {
  color: #f35252;
  transition: 0.4s;
}
.tasks .task .task-header.red.open .task-title {
  color: #f35252;
}
.tasks .task .task-info {
  display: none;
  position: relative;
}
.tasks .task .task-info .due-date {
  color: #cccccc;
  font-size: 14px;
  margin-top: 0;
}
.tasks .task .task-info .task-requirements {
  display: inline-block;
  width: 100%;
  margin-right: 5%;
  margin-bottom: 15px;
}
.tasks .task .task-info .task-requirements ul {
  list-style-type: none;
  padding-left: 25px;
}
.tasks .task .task-info .task-requirements ul .task-requirement {
  cursor: pointer;
  margin-bottom: 15px;
}
.tasks .task .task-info .task-requirements ul .task-requirement:last-child {
  margin-bottom: 0;
}
.tasks .task .task-info .task-requirements ul .task-requirement:before {
  content: '\e80d';
  font-family: 'utasko';
  color: #ffffff;
  position: absolute;
  margin-left: -25px;
}
.tasks .task .task-info .task-requirements ul .task-requirement.complete {
  text-decoration: line-through;
  color: #979797;
}
.tasks .task .task-info .task-requirements ul .task-requirement.complete:before {
  content: '\e80c';
  font-family: 'utasko';
  color: #979797;
}
.tasks .task .task-info .task-requirements ul .task-requirement.complete:hover {
  color: #979797;
}
.tasks .task .task-info .task-requirements ul .task-requirement.complete:hover:before {
  color: #979797;
}
.tasks .task .task-info .task-requirements ul .task-requirement:hover {
  color: #e0e0e0;
  transition: 0.4s;
}
.tasks .task .task-info .task-requirements ul .task-requirement:hover:before {
  content: '\e80c';
  font-family: 'utasko';
  color: #e0e0e0;
}
.tasks .task .task-info .task-users {
  display: block;
  border-bottom: 1px solid #505050;
  border-top: 1px solid #505050;
  padding: 15px 0;
}
.tasks .task .task-info .task-users ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.tasks .task .task-info .task-users ul li {
  display: inline-block;
  padding-right: 15px;
}
.tasks .task .task-info .task-users ul li:last-child {
  padding-right: none;
}
.tasks .task .task-info .task-options {
  display: block;
  float: right;
  transition: 0.4s;
  bottom: 30px;
  right: 5px;
  position: relative;
  font-size: 18px;
}
.tasks .task .task-info .task-options:hover {
  color: #ffffff;
  transition: 0.4s;
}
.tasks .task .task-info .task-options-expanded {
  padding: 25px 15px;
  border-top: 1px solid #505050;
  display: none;
}
.tasks .task .task-info .task-options-expanded .btn {
  margin-right: 15px;
  display: inline-block;
}
.tasks .task .task-info .task-options-expanded .btn:last-child {
  margin-right: 0;
  float: right;
}
.tasks .task .task-info .task-options-expanded .btn.unmark-task-complete {
  display: none;
}
.tasks .task.complete .task-header .task-title {
  text-decoration: line-through;
  color: #979797;
}
.tasks .task.complete .task-header:hover .task-title {
  color: #979797;
}
.tasks .task.complete .task-header:hover .task-toggle {
  color: #979797;
}
.tasks .task.complete .task-header.open .task-title {
  color: #979797;
}
.tasks .task.complete .task-header .task-quick-info p {
  text-decoration: line-through;
  color: #979797;
}
.tasks .task.complete .task-info .task-info-header .due-date {
  color: #979797;
}
.tasks .task.complete .task-info .task-info-header .task-body {
  color: #979797;
}
.tasks .task.complete .task-info .task-users ul li {
  color: #979797;
}
.tasks .task.complete .task-info .task-requirements ul .task-requirement {
  text-decoration: line-through;
  color: #979797;
}
.tasks .task.complete .task-info .task-requirements ul .task-requirement:before {
  content: '\e80c';
  font-family: 'utasko';
  color: #979797;
}
.tasks .task.complete .task-info .task-requirements ul .task-requirement:hover {
  color: #979797;
}
.tasks .task.complete .task-info .task-requirements ul .task-requirement:hover:before {
  color: #979797;
}
/****************
    MESSAGES
*****************/
.conversation {
  box-sizing: border-box;
  box-sizing: inherit;
  height: 100%;
}
.conversation .message-stream .message-date {
  border-bottom: 1px solid #979797;
}
.conversation .message-stream .message-date h5 {
  color: #ffffff;
  text-align: center;
}
.conversation .message-stream .message {
  padding: 15px 0 0;
  border-bottom: 1px solid #979797;
}
.conversation .message-stream .message .message-info {
  padding: 0 75px;
}
.conversation .message-stream .message .message-info p {
  display: inline-block;
  color: #979797;
  margin: 0;
}
.conversation .message-stream .message .message-info p.user-name {
  padding-right: 15px;
  margin: 0;
}
.conversation .message-stream .message .message-body {
  padding: 0 75px;
}
.conversation .message-bar {
  width: 100%;
  height: 71px;
  position: fixed;
  bottom: 0;
  background: #333333;
  border-top: 1px solid #979797;
  padding: 15px 0 15px;
}
.conversation .message-bar .new-message {
  display: block;
  margin: 0 auto;
  padding: 0 5%;
}
.conversation .message-bar input {
  font-size: 14px;
  display: inline-block;
  width: 20%;
  height: 35px;
  border-radius: 6px;
}
.conversation .message-bar .message-btn {
  font-size: 12px;
  display: inline-block;
  padding: 6px 25px;
  margin-left: 10px;
}
/**********************
		FILES
**********************/
.files {
  box-sizing: border-box;
  box-sizing: inherit;
  height: 100%;
  display: none;
  position: relative;
}
.files .files-list {
  margin-top: 55px;
  padding-bottom: 55px;
}
.files .add-file-bar {
  background: #333333;
  width: 100%;
  height: 50px;
  box-shadow: 0 5px 5px #292929;
  position: absolute;
  z-index: 99;
}
.files .add-file-bar i {
  color: #ffffff;
  font-size: 24px;
  display: inline-block;
  margin: 12px 0 0 25px;
}
.files .add-file-bar p {
  display: inline-block;
  margin: 0;
  margin: 12px 25px 0 0;
  position: relative;
  float: right;
}
.files .file-block {
  overflow: auto;
  border-bottom: 1px solid #979797;
  padding-bottom: 28px;
  position: relative;
}
.files .file-block .file {
  padding: 15px 75px;
  display: block;
  overflow: auto;
}
.files .file-block .file i {
  font-size: 26px;
  color: #ffffff;
  display: block;
  float: left;
  margin: 15px 25px 0 0;
}
.files .file-block .file i.ut-download-cloud {
  font-size: 16px;
  position: absolute;
  top: 15px;
  right: 5px;
}
.files .file-block .file i.file-icon {
  position: absolute;
  left: 30px;
}
.files .file-block .file .file-info {
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 25px;
  width: 90%;
}
.files .file-block .file .file-info p {
  display: block;
  margin: 0;
  word-wrap: break-word;
}
.files .file-block .file .file-info p.file-name {
  font-size: 20px;
}
.files .file-block .file.green:hover i {
  color: #b8ee66;
  transition: 0.4s;
}
.files .file-block .file.green:hover p {
  color: #b8ee66;
  transition: 0.4s;
}
.files .file-block .file.blue:hover i {
  color: #66afee;
  transition: 0.4s;
}
.files .file-block .file.blue:hover p {
  color: #66afee;
  transition: 0.4s;
}
.files .file-block .file.pink:hover i {
  color: #ee6666;
  transition: 0.4s;
}
.files .file-block .file.pink:hover p {
  color: #ee6666;
  transition: 0.4s;
}
.files .file-block .file.orange:hover i {
  color: #ffa946;
  transition: 0.4s;
}
.files .file-block .file.orange:hover p {
  color: #ffa946;
  transition: 0.4s;
}
.files .file-block .file.purple:hover i {
  color: #9566ee;
  transition: 0.4s;
}
.files .file-block .file.purple:hover p {
  color: #9566ee;
  transition: 0.4s;
}
.files .file-block .file.turquoise:hover i {
  color: #50e3c2;
  transition: 0.4s;
}
.files .file-block .file.turquoise:hover p {
  color: #50e3c2;
  transition: 0.4s;
}
.files .file-block .file.yellow:hover i {
  color: #fff363;
  transition: 0.4s;
}
.files .file-block .file.yellow:hover p {
  color: #fff363;
  transition: 0.4s;
}
.files .file-block .file.red:hover i {
  color: #f35252;
  transition: 0.4s;
}
.files .file-block .file.red:hover p {
  color: #f35252;
  transition: 0.4s;
}
.files .delete-file-link {
  position: absolute;
  text-align: right;
  right: 30px;
}
.files .delete-file-link a {
  font-size: 12px;
}
.files .delete-file-link a:hover {
  color: #f35252;
  transition: 0.2s;
}
/**********************
      REPOSITROY
***********************/
.repository {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid #979797;
}
.repository h3 {
  margin-top: 0;
}
.repository h3 i {
  color: #ffffff;
  font-size: 34px;
}
.repository .ghrepo .ghrepo-title {
  font-family: 'HelveticaNeue-CondensedBlack', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.repository .ghrepo .ghrepo-description {
  padding-bottom: 15px;
}
.repository .ghrepo .ghrepo-meta span {
  padding-right: 25px;
}
.repository .ghrepo .ghrepo-meta span span {
  padding-right: 5px;
}
.repo {
  height: 100%;
}
.repo .commits {
  padding: 0 25px;
}
.repo .commits h5 {
  color: #ffffff;
  margin-bottom: 0;
}
.repo .commits p {
  margin-top: 5px;
  color: #979797;
}
.repo .commits p:last-child {
  font-size: 12px;
  margin-top: -5px;
}
.repo .commits .commit-block {
  padding: 15px 0;
  border-bottom: 1px solid #979797;
}
.repo .commits .commit-block:last-child {
  border-bottom: 0;
}
/**************************
    Responsive Styles
**************************/
/** Max-Width 1059px **/
@media screen and (max-width: 1059px) {
  .conversation .message-bar .new-message {
    padding: 0 3%;
  }
}
/** Max-Width 979px **/
@media screen and (max-width: 979px) {
  .project-block {
    width: 100%;
  }
}
/** Min-Width 930px **/
@media screen and (min-width: 930px) {
  .tasks {
    display: block !important;
  }
}
/** Max-Width 929px **/
@media screen and (max-width: 929px) {
  .col-1-3,
  .col-2-3 {
    width: 100%;
  }
  .conversation {
    display: none;
  }
  .conversation .message-bar .new-message input {
    width: 85%;
  }
  .files {
    display: none;
  }
  .repo {
    display: none;
  }
  .top-bar.project-controls {
    display: none;
  }
  .top-bar-mobile {
    display: block;
  }
  .tasks {
    border-right: none;
  }
  .tasks .add-task-bar {
    border-right: none;
  }
}
/** Max-Width 769px **/
@media screen and (max-width: 769px) {
  .landing-page .info {
    padding: 0 15%;
  }
  .wrapper.padded {
    padding: 0 75px;
  }
}
/** Max-Width 739px **/
@media screen and (max-width: 739px) {
  .form .form-inner form .form-button.half {
    width: 100%;
    margin-right: 0;
    margin: 0 0 15px;
  }
  .form .form-inner form .form-button.half.add-req {
    margin: 15px 0;
  }
}
/** Max-Width 695px **/
@media screen and (max-width: 695px) {
  .conversation .message-bar .new-message input {
    width: 73%;
  }
}
/** Max-Width 679px **/
@media screen and (max-width: 679px) {
  a.btn {
    font-size: 12px;
    padding: 15px 20px;
  }
  .tasks .task .task-info .task-options-expanded {
    padding: 25px 0;
  }
}
/** Max-Width 569px **/
@media screen and (max-width: 569px) {
  header .navbar {
    height: 80px;
  }
  header .navbar .navbar-menu-left {
    margin: 12px 0 0;
  }
  header .navbar .navbar-menu-left img {
    width: 50px;
    height: 50px;
  }
  header .navbar.index .navbar-menu-right {
    top: 12px;
  }
  header .navbar.index .navbar-menu-right li a {
    font-size: 13px;
    padding: 12px 22px;
  }
  header .navbar .navbar-menu-right {
    top: 8px;
    right: 8px;
  }
  header .slide-menu {
    width: 335px;
    margin-top: 65px;
  }
  .landing-page .info {
    margin-top: 200px;
    padding: 0 10%;
  }
  .landing-page .info .intro {
    font-size: 18px;
  }
  .wrapper.padded {
    padding: 0 25px;
  }
  .login-form {
    width: 345px;
    padding: 85px 0;
  }
  .signup-form {
    width: 345px;
    padding: 65px 0;
  }
  .content-main {
    padding: 80px 0 0;
  }
  .content-main.padded-top {
    padding-top: 185px;
  }
  .top-bar .add-project,
  .top-bar .profile-bar {
    padding: 0 20px;
  }
  .top-bar .add-project a h3,
  .top-bar .profile-bar a h3 {
    font-size: 23px;
  }
  .top-bar .add-project a i,
  .top-bar .profile-bar a i {
    font-size: 23px;
  }
  .form.popup-form {
    padding: 15px 0;
  }
  .fancybox-popup .popup-body {
    padding: 0 20px 15px;
  }
  .project-list {
    padding-top: 82px;
  }
  .project-title {
    top: 80px;
  }
  .tasks .task {
    padding: 20px 30px;
  }
  .conversation .message-stream .message .message-info {
    padding: 0px 25px;
  }
  a.btn {
    font-size: 10px;
    padding: 15px 15px;
  }
  .tasks .task .task-info .task-options-expanded .btn {
    margin-right: 2px;
  }
  .project-title h2 {
    padding: 0;
  }
}
/** Max-Width 379px **/
@media screen and (max-width: 379px) {
  h1 {
    font-size: 36px;
  }
  .login-form,
  .signup-form {
    width: 300px;
  }
  .login-form .login-form-inner,
  .signup-form .login-form-inner,
  .login-form .signup-form-inner,
  .signup-form .signup-form-inner {
    padding: 35px 35px;
  }
  .project-colour .radio-list li {
    width: 30px;
  }
  a.btn {
    font-size: 10px;
    padding: 8px 9px;
    margin-right: 0;
  }
  .top-bar-mobile .project-bar {
    padding: 0;
  }
  .conversation .message-bar .new-message input {
    width: 70%;
  }
}
/** Max-Width 329px **/
@media screen and (max-width: 329px) {
  h1 {
    font-size: 30px;
  }
  .landing-page .info {
    margin-top: 150px;
  }
  .landing-page .info .intro {
    font-size: 16px;
  }
  .landing-page .info .cta {
    font-size: 16px;
  }
  .login-form {
    padding: 35px 0;
  }
  .signup-form {
    padding: 15px 0;
  }
  .fancybox-popup .popup-close {
    top: 20px;
  }
  .fancybox-popup .popup-header h3 {
    font-size: 20px;
  }
  .project-colour .radio-list li {
    width: 25px;
  }
  a.btn {
    font-size: 9px;
    padding: 8px 6px;
  }
  .tasks .task .task-info .task-options-expanded .btn {
    margin-right: 0;
  }
  .conversation .message-bar .new-message input {
    width: 67%;
  }
}
