@font-face {
  font-family: 'utasko';
  src: url('../font/utasko.eot?71525460');
  src: url('../font/utasko.eot?71525460#iefix') format('embedded-opentype'),
       url('../font/utasko.woff2?71525460') format('woff2'),
       url('../font/utasko.woff?71525460') format('woff'),
       url('../font/utasko.ttf?71525460') format('truetype'),
       url('../font/utasko.svg?71525460#utasko') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'utasko';
    src: url('../font/utasko.svg?71525460#utasko') format('svg');
  }
}
*/
 
 [class^="ut-"]:before, [class*=" ut-"]:before {
  font-family: "utasko";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ut-download-cloud:before { content: '\e800'; } /* '' */
.ut-chat-empty:before { content: '\e801'; } /* '' */
.ut-file-pdf:before { content: '\e802'; } /* '' */
.ut-file-word:before { content: '\e803'; } /* '' */
.ut-file-excel:before { content: '\e804'; } /* '' */
.ut-file-powerpoint:before { content: '\e805'; } /* '' */
.ut-file-image:before { content: '\e806'; } /* '' */
.ut-file-archive:before { content: '\e807'; } /* '' */
.ut-file-audio:before { content: '\e808'; } /* '' */
.ut-file-video:before { content: '\e809'; } /* '' */
.ut-file-code:before { content: '\e80a'; } /* '' */
.ut-doc-text:before { content: '\e80b'; } /* '' */
.ut-clock:before { content: '\e80c'; } /* '' */
.ut-user-plus:before { content: '\e80d'; } /* '' */
.ut-user:before { content: '\e80e'; } /* '' */
.ut-ok-circled:before { content: '\e80f'; } /* '' */
.ut-circle-thin:before { content: '\e810'; } /* '' */
.ut-list-numbered:before { content: '\e811'; } /* '' */
.ut-shuffle:before { content: '\e812'; } /* '' */
.ut-home:before { content: '\e813'; } /* '' */
.ut-search:before { content: '\e814'; } /* '' */
.ut-more-vert:before { content: '\e815'; } /* '' */
.ut-close:before { content: '\e816'; } /* '' */
.ut-github-circled:before { content: '\e817'; } /* '' */
.ut-minus:before { content: '\e818'; } /* '' */
.ut-plus:before { content: '\e819'; } /* '' */
.ut-emo-happy:before { content: '\e81a'; } /* '' */
.ut-emo-unhappy:before { content: '\e81b'; } /* '' */
.ut-emo-sleep:before { content: '\e81c'; } /* '' */
.ut-emo-thumbsup:before { content: '\e81d'; } /* '' */
.ut-emo-devil:before { content: '\e81e'; } /* '' */
.ut-emo-surprised:before { content: '\e81f'; } /* '' */
.ut-emo-tongue:before { content: '\e820'; } /* '' */
.ut-emo-sunglasses:before { content: '\e821'; } /* '' */
.ut-emo-coffee:before { content: '\e822'; } /* '' */
.ut-emo-displeased:before { content: '\e823'; } /* '' */
.ut-emo-beer:before { content: '\e824'; } /* '' */
.ut-emo-grin:before { content: '\e825'; } /* '' */
.ut-emo-angry:before { content: '\e826'; } /* '' */
.ut-emo-saint:before { content: '\e827'; } /* '' */
.ut-emo-cry:before { content: '\e828'; } /* '' */
.ut-emo-shoot:before { content: '\e829'; } /* '' */
.ut-emo-squint:before { content: '\e82a'; } /* '' */
.ut-emo-laugh:before { content: '\e82b'; } /* '' */
.ut-emo-wink2:before { content: '\e82c'; } /* '' */
.ut-power:before { content: '\e82d'; } /* '' */
.ut-docs:before { content: '\e82e'; } /* '' */
.ut-check:before { content: '\e82f'; } /* '' */