
.ut-download-cloud:before { content: '\e800'; } /* '' */
.ut-chat-empty:before { content: '\e801'; } /* '' */
.ut-file-pdf:before { content: '\e802'; } /* '' */
.ut-file-word:before { content: '\e803'; } /* '' */
.ut-file-excel:before { content: '\e804'; } /* '' */
.ut-file-powerpoint:before { content: '\e805'; } /* '' */
.ut-file-image:before { content: '\e806'; } /* '' */
.ut-file-archive:before { content: '\e807'; } /* '' */
.ut-file-audio:before { content: '\e808'; } /* '' */
.ut-file-video:before { content: '\e809'; } /* '' */
.ut-file-code:before { content: '\e80a'; } /* '' */
.ut-doc-text:before { content: '\e80b'; } /* '' */
.ut-clock:before { content: '\e80c'; } /* '' */
.ut-user-plus:before { content: '\e80d'; } /* '' */
.ut-user:before { content: '\e80e'; } /* '' */
.ut-ok-circled:before { content: '\e80f'; } /* '' */
.ut-circle-thin:before { content: '\e810'; } /* '' */
.ut-list-numbered:before { content: '\e811'; } /* '' */
.ut-shuffle:before { content: '\e812'; } /* '' */
.ut-home:before { content: '\e813'; } /* '' */
.ut-search:before { content: '\e814'; } /* '' */
.ut-more-vert:before { content: '\e815'; } /* '' */
.ut-close:before { content: '\e816'; } /* '' */
.ut-github-circled:before { content: '\e817'; } /* '' */
.ut-minus:before { content: '\e818'; } /* '' */
.ut-plus:before { content: '\e819'; } /* '' */
.ut-emo-happy:before { content: '\e81a'; } /* '' */
.ut-emo-unhappy:before { content: '\e81b'; } /* '' */
.ut-emo-sleep:before { content: '\e81c'; } /* '' */
.ut-emo-thumbsup:before { content: '\e81d'; } /* '' */
.ut-emo-devil:before { content: '\e81e'; } /* '' */
.ut-emo-surprised:before { content: '\e81f'; } /* '' */
.ut-emo-tongue:before { content: '\e820'; } /* '' */
.ut-emo-sunglasses:before { content: '\e821'; } /* '' */
.ut-emo-coffee:before { content: '\e822'; } /* '' */
.ut-emo-displeased:before { content: '\e823'; } /* '' */
.ut-emo-beer:before { content: '\e824'; } /* '' */
.ut-emo-grin:before { content: '\e825'; } /* '' */
.ut-emo-angry:before { content: '\e826'; } /* '' */
.ut-emo-saint:before { content: '\e827'; } /* '' */
.ut-emo-cry:before { content: '\e828'; } /* '' */
.ut-emo-shoot:before { content: '\e829'; } /* '' */
.ut-emo-squint:before { content: '\e82a'; } /* '' */
.ut-emo-laugh:before { content: '\e82b'; } /* '' */
.ut-emo-wink2:before { content: '\e82c'; } /* '' */
.ut-power:before { content: '\e82d'; } /* '' */
.ut-docs:before { content: '\e82e'; } /* '' */